@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}
.jspsych-content{
  max-width: 100%;
  max-height: 100%;
}
.jspsych-html-keyboard-response-stimulus{
  width: 100%;
  height: 100%;
}
.text-box{
  display: flex;
  text-align: justify;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering */
  min-height: 100vh;         /* fill the viewport for true centering */
  box-sizing: border-box;
  padding: 80px 350px 80px 350px;

}
.trial-text{
  font-size: 20px;
}
.light-mode {
  background: #ffffff;
  color: #000000;
}
.dark-mode {
  background: #211F1F;
  color: #ffffff;
}